/* Your styles goes here. */
@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,600|Great+Vibes');

/* Thiết lập chung */
body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.main {
  margin: 0 auto;
}
