.bride-groom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: auto;
    padding: 12px 0px;
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr; // Chuyển thành một cột trên mobile
      padding: 5px;
    }
  
    .card {
      display: flex;
      background: #f9f9f9;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      
      @media (max-width: 768px) {
        flex-direction: column; // Stack hình ảnh trên text

      }
  
      .image {
        flex: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .content {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        h3 {
          font-size: 1.8rem;
          margin-bottom: 10px;
          font-weight: 700;
        }
  
        p {
          font-size: 1rem;
          line-height: 1.6;
        }
  
        .signature {
          font-family: "Great Vibes", cursive;
          font-size: 1.5rem;
          margin-top: 10px;
          font-weight: bold;
        }
      }
    }
  }
  