// Countdown component styles - Match wedding2 template
@import '../base';

.count-down-section {
  position: relative;
  padding: 120px 0;
  
  @media (max-width: 1199px) {
    padding: 100px 0;
  }

  @media (max-width: 991px) {
    padding: 80px 0;
  }

  &:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-family: $font-cursive;
    font-size: 72px;
    color: #fff;
    margin: 0;
    text-align: center;

    @media (max-width: 1199px) {
      font-size: 62px;
    }

    @media (max-width: 767px) {
      font-size: 50px;
    }

    > span {
      font-size: 30px;
      display: block;
      margin-bottom: 0.6em;

      @media (max-width: 1199px) {
        font-size: 25px;
      }

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
  }

  .count-down-clock {
    margin-top: 13px;

    @media (max-width: 991px) {
      margin-top: 35px;
    }
  }

  #clock {
    color: $primary-color;
    overflow: hidden;

    > div {
      background: rgba(255, 255, 255, 0.9);
      width: 23.5%;
      float: left;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      border: 5px solid rgba(0, 0, 0, 0.1);

      @media (max-width: 767px) {
        width: calc(50% - 5px);
      }

      + div {
        margin-left: 2%;

        @media (max-width: 767px) {
          margin: 0;
        }
      }

      &:nth-child(2),
      &:nth-child(4) {
        margin: 0 0 10px 10px;
      }
    }

    .box {
      > div {
        font-size: 40px;
        font-weight: 600;
        line-height: 1em;

        @media (max-width: 1199px) {
          font-size: 35px;
        }

        @media (max-width: 991px) {
          font-size: 30px;
          line-height: 1.3em;
        }
      }

      span {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}
