// Footer component styles - Match wedding2 template
@import '../base';

.site-footer {
  background: url('/assets/images/footer-bg.jpg') center center/cover no-repeat local;
  text-align: center;
  color: #fff;
  padding: 160px 0;
  position: relative;

  @media (max-width: 1199px) {
    padding: 110px 0;
  }

  @media (max-width: 991px) {
    padding: 90px 0;
  }

  @media (max-width: 767px) {
    padding: 70px 0;
  }

  &:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  h2 {
    font-family: $font-cursive;
    font-size: 67px;
    color: #fff;
    margin: 0 0 0.3em;
    padding: 0 250px;
    text-transform: capitalize;
    letter-spacing: 5px;

    @media (max-width: 1199px) {
      font-size: 55px;
      padding: 0 200px;
    }

    @media (max-width: 991px) {
      font-size: 45px;
      padding: 0;
    }

    @media (max-width: 767px) {
      font-size: 35px;
      letter-spacing: 2px;
    }
  }

  h2 + span {
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }

  .back-to-top {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);

    a {
      display: inline-block;
      background: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;

      span {
        position: absolute;
        left: 0;
        animation: pointerMoving 1.3s infinite;
      }

      .fi {
        display: inline-block;
        transform: rotate(-45deg);
        position: absolute;
        top: 0;
        left: 11px;

        &:before {
          font-size: 27px;
          color: #000;
          text-shadow: 1px 1px 2px #000;
        }
      }
    }
  }
}

@keyframes pointerMoving {
  0% {
    transform: translateY(5px);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: translateY(5px);
    opacity: 0.5;
  }
}
