// Gallery component styles - Match wedding2 template
@import '../base';

.gallery-section {
  /*** filter ***/
  .gallery-filters {
    text-align: left;
    margin-bottom: 35px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    ul {
      overflow: hidden;

      li {
        float: left;

        + li {
          margin-left: 15px;
        }

        a {
          font-weight: bold;
          color: #3e3e3e;
          display: block;
          text-transform: uppercase;

          @media (max-width: 767px) {
            font-size: 15px;
          }
        }
      }

      .current {
        color: $primary-color;
      }
    }
  }

  .masonry-gallery {
    margin: 0 -7.5px;

    @media (max-width: 991px) {
      margin: 0 5px;
    }

    @media (max-width: 500px) {
      margin: 0;
    }

    .grid {
      width: 33.33%;
      float: left;
      padding: 0 7.5px 15px;

      @media (max-width: 991px) {
        padding: 0 5px 10px;
      }

      @media (max-width: 767px) {
        width: 50%;
      }

      @media (max-width: 550px) {
        width: 100%;
        float: none;
        padding: 0 0 15px;
      }
    }
  }

  .grid {
    img {
      filter: grayscale(60%);
      transition: all 0.3s ease;

      @media (max-width: 767px) {
        filter: grayscale(0);
      }
    }

    &:hover img {
      filter: grayscale(0);
    }
  }

  .video-play-btn {
    position: relative;
    display: block;

    i {
      width: 50px;
      height: 50px;
      line-height: 47px;
      font-size: 20px;
      background: rgba(94, 154, 142, 0.9);
      border: 3px solid #5c978b;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all 0.3s;
    }

    &:hover i {
      background: $primary-color;
    }
  }
}
