// Hero component styles - Match wedding2 template
@import '../base';

.hero {
  position: relative;
  height: calc(100vh - 90px);
  min-height: 700px;
  overflow: hidden;

  @media (max-width: 1199px) {
    min-height: 600px;
  }

  @media (max-width: 991px) {
    min-height: 500px;
  }

  .slide-item {
    height: 100vh;
    min-height: 700px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 1199px) {
      min-height: 600px;
    }

    @media (max-width: 991px) {
      min-height: 500px;
    }

    &:before {
      content: '';
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:focus {
      outline: none;
    }

    .container {
      height: 100%;
      display: table;
    }

    .row {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .wedding-announcement {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    text-align: center;
    display: table;

    .couple-name-merried-text {
      display: table-cell;
      vertical-align: middle;

      h2 {
        font-family: $font-cursive;
        font-size: 90px;
        color: #fff;
        margin: 0 0 0.4em;
        position: relative;
        z-index: 10;

        @media (max-width: 1199px) {
          font-size: 70px;
        }

        @media (max-width: 991px) {
          font-size: 60px;
        }

        @media (max-width: 767px) {
          font-size: 50px;
        }
      }

      p {
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        position: relative;
        z-index: 10;

        @media (max-width: 991px) {
          font-size: 20px;
        }

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }

      .save-the-date {
        font-size: 28px;
        color: #fff;
        margin-top: 20px;

        @media (max-width: 767px) {
          font-size: 22px;
        }

        span {
          display: block;
          font-size: 18px;
          margin-top: 5px;

          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  // Slider controls
  .slick-prev,
  .slick-next {
    background-color: rgba(157, 43, 39, 0.6);
    width: 50px;
    height: 50px;
    z-index: 111;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(157, 43, 39, 0.9);
    opacity: 0;
    transition: all 0.3s;

    &:hover {
      background-color: rgba(157, 43, 39, 0.8);
      box-shadow: 0 0 0 5px $primary-color;
    }

    @media (max-width: 1199px) {
      width: 45px;
      height: 45px;
      box-shadow: 0 0 0 3px rgba(157, 43, 39, 0.9);
    }

    @media (max-width: 991px) {
      width: 35px;
      height: 35px;
      box-shadow: 0 0 0 3px rgba(157, 43, 39, 0.9);
    }

    &:before {
      font-size: 25px;

      @media (max-width: 991px) {
        font-size: 20px;
      }
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      font-family: 'FontAwesome';
      content: '\f104';
      opacity: 1;
    }
  }

  .slick-next {
    right: 0;

    &:before {
      font-family: 'FontAwesome';
      content: '\f105';
      opacity: 1;
    }
  }

  &:hover {
    .slick-prev,
    .slick-next {
      opacity: 1;
    }

    .slick-prev {
      left: 20px;
    }

    .slick-next {
      right: 20px;
    }
  }
}
