// MusicBox component styles

.music-box {
  position: fixed;
  width: 300px;
  height: 160px;
  z-index: 120;
  bottom: 30px;
  right: 30px;

  @media (max-width: 991px) {
    width: 250px;
    height: 120px;
    right: auto;
    left: 30px;
  }

  .music-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: -30px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  button {
    background: rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    line-height: 37px;
    font-size: 18px;
    color: #9d2b27;
    border: 1px solid #e6e6e6;
    outline: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: #9d2b27;
      color: white;
    }

    @media (max-width: 991px) {
      right: auto;
      left: 0;
    }
  }

  .toggle-music-box {
    top: -50px;
    visibility: visible;
    opacity: 1;
  }
}
